<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/alphabet.css">
    </head>

    <body>
        <div class="mainSquare">
            <span class="title">Alphabet Typing Test</span>
            <div class="alphabetScreen">
                <span class="last"></span>
                <span class="last-2"></span>
                <span class="current">
                    <%= words[0].ex %>
                </span>
                <span class="future">
                    <%= words[1].ex %>
                </span>
                <span class="future-2">
                    <%= words[2].ex %>
                </span>
            </div>
            <div class="typing">
                <!-- ime-mode:active => 한글키보드 우선 선택 -->
                <input type="text" placeholder="Tying Now!" class="typingInput" onkeypress="next(event)"
                    style="ime-mode:active;" autofocus>
            </div>
            <div class=" accuracy">
                <span>정확도 : <span class="pct">0%</span></span>
            </div>
        </div>
        '<% let index=0; %>'

            <script>
                var current = document.querySelector('.current')
                var future = document.querySelector('.future')
                var future_2 = document.querySelector('.future-2')
                var last = document.querySelector('.last')
                var last_2 = document.querySelector('.last-2')
                let i = 3, k = 0;
                let list = [];
                var percentage = 0
                var pct = document.querySelector('.pct')

                '<%for(let word of words) {%>'
                list.push('<%=word.ex%>')
                '<%}%>'

                function next(e) {
                    if (document.querySelector('.typingInput').value == list[k]) {
                        if (percentage == 0) percentage = 100
                        else if (percentage != 100) percentage++
                    } else {
                        if (percentage != 0) percentage--
                    }
                    pct.textContent = `${percentage}%`

                    if (!last_2.textContent) {
                        last_2.innerText = current.innerText
                        current.innerText = future.innerText
                        future.innerText = future_2.innerText
                        future_2.innerText = list[i];
                        i++;
                        k++;
                    } else {
                        last.innerText = last_2.innerText
                        last_2.innerText = current.innerText
                        current.innerText = future.innerText
                        future.innerText = future_2.innerText
                        future_2.innerText = list[i];
                        i++;
                        k++;
                    }

                    document.querySelector('.typingInput').value = ''
                }
            </script>


            <%- include('../partials/footer.ejs') %>